# Runs nasajobsbot service daily

[Unit]
Description=Runs nasajobsbot service
Requires=nasajobsbot.service

[Timer]
Unit=nasajobsbot.service
OnCalendar=*-*-* 06:00:00

[Install]
WantedBy=timers.target