[Unit]
Description=nasamodqbot: Scan /r/%I modqueue
After = network.target
StartLimitBurst=10
StartLimitIntervalSec=7200

[Service]
Type=simple
ExecStart=/usr/local/bin/nasamodqbot.py %I
ExecStopPost=/usr/local/bin/ntfy send "nasamodqbot for %I failed, Service Result=${SERVICE_RESULT}, Exit Code=${EXIT_CODE}, Exit Status=${EXIT_STATUS}"
RestartSec=600
Restart=always
User=USER
Environment="PYTHONPATH=HOME/.local/lib/python-local"
PassEnvironment=PYTHONPATH

[Install]
WantedBy=multi-user.target
