[Unit]
Description=nasajobsbot: Post new NASA jobs from usajobs.gov to r/NASAjobs
Wants=nasajobsbot.timer

[Service]
Type=oneshot
ExecStart=#WHICHPYTHON# /usr/local/bin/nasajobsbot.py
User=#USER#
Environment="PYTHONPATH=#HOME#/.local/lib/python-local"
PassEnvironment=PYTHONPATH

[Install]
WantedBy=multi-user.target
