[Unit]
Description=nasamodqbot: Scan /r/nasa modqueue
After = network.target
StartLimitBurst=5
StartLimitIntervalSec=3600

[Service]
Type=simple
ExecStart=/usr/bin/python /usr/local/bin/nasamodqbot.py
RestartSec=60
Restart=on-failure
User=david
Environment="PYTHONPATH=/home/david/.local/lib/python-local"
PassEnvironment=PYTHONPATH

[Install]
WantedBy=multi-user.target
