[Unit]
Description=nasabot: See if any r/nasa posts have hit r/all
Wants=nasabot.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/python /usr/local/bin/nasabot.py
User=david
Environment="PYTHONPATH=/home/david/.local/lib/python-local"
PassEnvironment=PYTHONPATH

[Install]
WantedBy=multi-user.target
