[Unit]
Description=nasamodqbot: Scan /r/nasa modqueue
After = network.target
StartLimitBurst=10
StartLimitIntervalSec=7200

[Service]
Type=simple
ExecStart=/usr/bin/python /usr/local/bin/nasamodqbot.py
ExecStopPost=/usr/local/bin/ntfy send "nasamodqbot failed, Service Result=${SERVICE_RESULT}, Exit Code=${EXIT_CODE}, Exit Status=${EXIT_STATUS}"
RestartSec=600
Restart=always
User=david
Environment="PYTHONPATH=/home/david/.local/lib/python-local"
PassEnvironment=PYTHONPATH

[Install]
WantedBy=multi-user.target
