[Unit]
Description=nasabot: See if any r/nasa posts have hit r/all
Wants=nasabot.timer

[Service]
Type=oneshot
ExecStart=#WHICHPYTHON# /usr/local/bin/nasabot.py
User=#USER#
Environment="PYTHONPATH=#HOME#/.local/lib/python-local"
PassEnvironment=PYTHONPATH

[Install]
WantedBy=multi-user.target
