[Unit]
Description=nasaxpost: cross-post from a given user to a subreddit
After = network.target
StartLimitBurst=10
StartLimitIntervalSec=7200

[Service]
Type=simple
ExecStart=/usr/bin/python /usr/local/bin/nasaxpost.py
ExecStopPost=/usr/local/bin/ntfy send "nasaxpost failed, Service Result=${SERVICE_RESULT}, Exit Code=${EXIT_CODE}, Exit Status=${EXIT_STATUS}"
RestartSec=600
Restart=always
User=USER
WorkingDirectory=~
Environment="PYTHONPATH=HOME/.local/lib/python-local"
PassEnvironment=PYTHONPATH

[Install]
WantedBy=multi-user.target
